@import url('https://fonts.googleapis.com/css2?family=Work+Sans:ital,wght@0,300;1,300&display=swap');

.App {
  min-height: 100vh;
  display: flex;
  /* background-image: url("./backLogin.jpg"); */
  background: linear-gradient(to left, rgb(1, 142, 6), rgb(1, 104, 144));
  background-position: center;
  background-size: cover;
  color: black;
}


::-webkit-scrollbar {
  width: 0px;
}

::-webkit-scrollbar-thumb {
  background: rgba(136, 136, 136, 0.281);
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
  background: #555;
}

.senderChat {
}

.senderChat:hover {
  color: rgb(0, 0, 0);
  background-color: rgb(96, 185, 237)!important; 
  transition: 0.4s;

}

.recieveChat {
}

.recieveChat:hover {
  color: black;
  background-color:rgb(102, 200, 140)!important; 
  transition: 0.4s;
}


.NotificationBadge {
  background-color: red;
  color: white;
  border-radius: 50%;
  padding: 0.2em 0.5em;
  font-size: 1em;
  transition: all 0.3s ease-in-out;
}

.NotificationBadge.enlarged {
  font-size: 2em;
  animation: pulse 1s infinite alternate;
}

@keyframes pulse {
  from {
    transform: scale(1);
  }
  to {
    transform: scale(1.2);
  }
}
